<md-card>
  <md-card-header>
    <img md-card-avatar src="{{game.thumbnail}}">
    <md-card-title>{{game.name}} ({{game.bggId}})</md-card-title>
    <md-card-subtitle>{{game.yearPublished}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      Players: {{game.minplayers}} - {{game.maxplayers}}
    </p>
      Game category:
      <md-chip-list >
        <md-chip *ngFor="let domain of game.gameTypes.boardgamesubdomain">{{domain.name}}</md-chip>
      </md-chip-list>

      Game mechanic:
    <md-chip-list >
      <md-chip *ngFor="let mechanic of game.gameTypes.boardgamemechanic">{{mechanic.name}}</md-chip>
    </md-chip-list>


  </md-card-content>
  <md-card-actions>
    <button md-button (click)="goTo(game)">GO TO</button>
  </md-card-actions>
</md-card>
